@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

body {
  width: 100vw;
  color: #000;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 24px;
  background: #dedfe1;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  outline: none;
}
